*{
    padding: 0px;
    margin: 20px;
}

.menu {
    overflow: hidden;
    stroke: black;
    stroke-width: 40%;
    background-color: rgb(255, 192, 192);
    color: rgb(255, 255, 255);  
}
